/* Fonts */
/* font-family: 'Alegreya', serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
  line-height: 1.5;
  background: rgb(163, 151, 226);
}

header,
main,
section,
footer {
  margin: 0 auto;
}

h1 {
  font-size: 3.75rem;
  font-family: 'Courier New', Courier, monospace;
  background: cadetblue;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgb(17, 16, 16);
  text-transform: uppercase;
}

h2 {
  font-size: 3.125rem;
  font-variant: small-caps;
  background: #e9d0e3;
  border-radius: 0.75rem;
  width: 100%;
  text-align: center;
}

p {
  font-size: 1.875rem;
}

.center {
  text-align: center;
}

main {
  padding: 3rem;
}



.column {
  background-color: #9ea4ab;
  padding: 1em 1em;
  box-shadow: 0px 0px 10px 0px rgb(17, 16, 16);
  border-radius: 0.8125rem;
  margin-bottom: 1.25rem;
}

/* ---Flexbox --- */
.grid-container {
  display: grid;
  gap: 1.25rem;
  justify-content: center;
}

.mg {
  margin: 2rem auto;
}

*/
/* Fonts */

body>main>section:nth-child(1)>h2 {
  font-family: 'Alegreya', serif;
}

body>main>section:nth-child(1)>p {
  font-family: 'Source Sans Pro', sans-serif;
}

body>main>section:nth-child(2)>h2 {
  font-family: 'Alfa Slab One', cursive;
}

body>main>section:nth-child(2)>p {
  font-family: 'Open Sans', sans-serif;
}


body>main>section:nth-child(3)>h2 {
  font-family: 'Phudu', cursive;
}

body>main>section:nth-child(3)>p {
  font-family: 'Lato', sans-serif;
}

body>main>section:nth-child(4)>h2 {
  font-family: 'Philosopher', sans-serif;
}

body>main>section:nth-child(4)>p {
  font-family: 'Mulish', sans-serif;
}

@media screen and (min-width: 800px) {

  header,
  main,
  section,
  footer {
    width: 60rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, 25rem);
  }

  .column {
    max-width: 21.875rem;
    min-width: 15.625rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}